.row {
    color: #fff;
    margin: 0.3rem 1rem;
  }
  
  .row__posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
  }
  
  .row__posters::-webkit-scrollbar {
    height: 10px;
    background-color: #e5091414;
    cursor: pointer;
  }
  
  /* ::-webkit-scrollbar-track {
      background: #f1f1f1;
    } */
  
  .row__posters::-webkit-scrollbar-thumb {
    background: #e50914;
    border-radius: 8px;
    height: 60%;
    margin: auto 1rem;
    cursor: pointer;
  }
  .movieCard {
    position: relative;
    transform: scale(0.8);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .largeCard {
    height: 250px;
  }
  
  .smallCard {
    height: 150px;
  }
  
  .row_poster {
    object-fit: contain;
    height: 100%;
    transition: transform 450ms;
    margin: 0;
  }
  
  .row_poster:hover {
    transform: scale(1.08);
    opacity: 1;
  }
  
  .row__posterLarge {
    max-height: 250px;
  }
  
  .movieCard__movieName {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
  }
  
  .movieCard__movieName:hover .row_poster {
    transform: scale(1.08);
  }
  
  .movieCard:hover .movieCard__movieName {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .movieTitle {
    color: #e50914;
  }
  
  @media (max-width: 450px) {
    .movieCard {
      margin: 0.5rem 0;
    }
    .row_poster {
      height: 100%;
    }
  }